div div 
{
    float: left;
}

h1
{
    text-align: center;
    font-size: 500%;
}

body
{
    position: relative;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
}

.copyright
{
    align-self: center;
}

#btnDraw, #btnClear, #btnEraser, #btnRainbow
{
    margin-bottom: 25px;
    align-self: left;
    background-color: burlywood;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    color: white;
    width: 200px;
    border-color: white;
    border-radius: 8px;
    border-style: solid;
}

#btnDraw:active, #btnClear:active, #btnEraser:active, #btnRainbow:active
{
    box-shadow: 3px 2px 22px 1px rgba(103, 95, 95, 0.513);
}

#btnDraw:hover, #btnClear:hover, #btnEraser:hover, #btnRainbow:hover
{
    background-color: rebeccapurple;
}

#btnDraw:visited
{
    background-color: black;
}

#content
{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 100px;
}

#buttons
{
    display: flex;
    flex-direction: column;
    margin-right: 125px;
    align-items: center;
}

#gridValue
{
    text-align: center;
    font-weight: bold;
}

#inputColorPicker
{
    height: 100px;
    width: 100px;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
}

#inputColorPicker::-webkit-color-swatch
{
    border-radius: 50px;
    border: none;
}

#inputColorPicker::-moz-color-swatch
{
    border-radius: 50px;
    border: none;
}


#gridValueSlider
{
    width: 400px;
    background: red;
}