div div 
{
    float: left;
}

h1
{
    text-align: center;
    font-size: 500%;
}

body
{
    position: relative;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
}

.copyright
{
    align-self: center;
}

#btnGrid, #btnClear
{
    margin-bottom: 25px;
    align-self: left;
    background-color: #3882F6;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    color: white;
    width: 200px;
    border-color: white;
    border-radius: 8px;
    border-style: solid;
}

#btnGrid:active, #btnClear:active {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#content
{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 100px;
}

#buttons
{
    display: flex;
    flex-direction: column;
    margin-right: 125px;
}

#gridValue
{
    text-align: center;
    font-weight: bold;
}